.about {
  padding: 80px 0 0;

  &__images-box img {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__text {
    margin-bottom: 72px;
  }
  &__item {
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
    &:nth-child(even) {
      background-position: left;
    }
    &:nth-child(even) .about__box {
      margin-left: auto;
    }
  }
  &__box {
    padding: 33px 40px 18px 40px;
    background-color: #fff;
    max-width: 470px;
    position: relative;
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 33px;
      height: 33px;
    }
    &::before {
      background-image: url('../image/decor/decor-left.svg');
      top: 19px;
      left: 19px;
    }
    &::after {
      background-image: url('../image/decor/decor-right.svg');
      bottom: 19px;
      right: 19px;
    }
    &-title {
      font-family: Georgia;
      font-size: 24px;
      line-height: 25px;
      color: #4e5665;
      margin-bottom: 20px;
    }
  }

  &__preview-title {
    margin-bottom: 38px;
  }
  &__preview-text {
    margin: 53px auto 80px;
  }
  &__images-box {
    padding-top: 73px;
    position: relative;
  }

  &__dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(236, 184, 76, 0.75);
    position: absolute;
    cursor: pointer;
  }
  &__dot--1 {
    top: 190px;
    left: 148px;
  }
  &__dot--2 {
    top: 188px;
    left: 495px;
  }
  &__dot--3 {
    top: 147px;
    right: 374px;
  }
  &__dot--4 {
    bottom: 28px;
    right: 299px;
  }

  &__dot::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffd600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__dot::before {
    content: '';
    background-image: url(../image/line.svg);
    position: absolute;
    width: 244px;
    height: 122px;
    top: -113px;
    left: 25px;
    display: none;
  }
  &__dot-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
    position: absolute;
    top: -138px;
    left: 153px;
    display: none;
    white-space: nowrap;
  }
  &__dot:hover::before {
    display: block;
  }
  &__dot:hover .about__dot-text {
    display: block;
  }
}
@media (max-width: 840px) {
  .about__dot {
    display: none;
  }
  .about__images-box {
    padding-top: 0;
  }
  .about__item {
    margin-bottom: 0;
    padding: 382px 0 70px;
    background-position: top;
  }
  .about__box {
    margin: 0 auto;
  }
  .about__item:nth-child(even) {
    background-position: top;
  }
}

@media (max-width: 1075px) {
  .about__dot--1 {
    top: 150px;
    left: 75px;
  }
  .about__dot--2 {
    top: 188px;
    left: 340px;
  }
  .about__dot--3 {
    top: 133px;
    right: 260px;
  }
  .about__dot--4 {
    bottom: 28px;
    right: 200px;
  }
}
