.photo {
  padding: 80px 0;

  &__title {
    margin-bottom: 42px;
  }
  &__text {
    padding-bottom: 48px;
    margin-bottom: 56px;
    position: relative;
    &::after {
      content: '';
      width: 270px;
      position: absolute;
      height: 1px;
      background-color: rgba(208, 212, 216, 0.5);
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  &__slider {
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
  }
}
.slick-arrow {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ecb84c;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
@media (max-width: 700px) {
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 20px;
  }
}
